.van-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.van-details img{
    max-width: 100%;
        padding: 1rem;
        width: 350px;
        height: auto;
        border-radius: 50px;
}
.van-details-info{
    padding: 20px;
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 1rem; */
}
.van-details-info h2{
    margin-bottom: 0.5rem;
}
.van-details-info p{
    margin-bottom: 0.5rem;
}

.van-type{
    background-color: #B61919;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
    color: #eee;
    margin-bottom: 0.5rem;
}

.button-rent{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: #FF8C38;
    border: none;
    /* width: 15%; */
    margin-top: 27px;
    /* padding-block: 1rem; */
    padding: 15px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .1s ease-in-out;
}

/* @media (min-width: 768px) { 
    .van-details{
    flex-direction: row;
    }
    .van-details img{
        width: 40vw;
    }
    .van-details-info{
        height: 50vh;
    justify-content: space-between;
    }

} */
